/* Fonts */@font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n7.e8c0eb897464ccf45d5caa70ec8c7005d0f7b1b2.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9149f27f7bc3361121beacf62fd750cdb23c915edb48c82c9caf79c00823ae34") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n7.98d31f084a84db1ace8d046ddc8faa522b144349.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=f8055e4fc24251f1456c1b859bbd2cbfeca7feff5cbc27a5679d554a0b33335e") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i7.09a1f54d3edfd3142937b195898dad5acea092ce.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=db3386a4a93f243422c1fc17283b9084da565edc2210eee131327b6be5194d60") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i7.7088df7c28e0b13b5406d1a8a5978bdb24760ab1.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=1a915bcd9b541f50943796ddc37e2ee51d61120a5625e65d553d211ced0cb187") format("woff");
}


  
@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n4.187fb228d0a8055289c8663e90433b4a50e86848.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4b9ef744329ea7300910487a0e3d1a4bb57e6807a19fcf11e8bab50d53217083") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n4.24ba61101c1ba185880bec9c74d8e7cdb826ad49.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=30f595ef8c7c75b687e3edd1aefd1c74a0d7451d49847bbf7f7c64a04d9ddfff") format("woff");
}

  @font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i4.ce8a9af821b5675e15a4785a2318ed578e68e9c9.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4608a8c3a494d24429e05f1ad3e231bcaae87cc7494839fb5430b75f64d0d444") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i4.8addc6e90a0d45abd627fd1c26cd4dbae936fbbb.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9e31a5de2a5a3071705e22786639509f6379d7cb19f4e5ca3ccb1647dc5e8935") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n4.187fb228d0a8055289c8663e90433b4a50e86848.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4b9ef744329ea7300910487a0e3d1a4bb57e6807a19fcf11e8bab50d53217083") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n4.24ba61101c1ba185880bec9c74d8e7cdb826ad49.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=30f595ef8c7c75b687e3edd1aefd1c74a0d7451d49847bbf7f7c64a04d9ddfff") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i4.ce8a9af821b5675e15a4785a2318ed578e68e9c9.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4608a8c3a494d24429e05f1ad3e231bcaae87cc7494839fb5430b75f64d0d444") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i4.8addc6e90a0d45abd627fd1c26cd4dbae936fbbb.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9e31a5de2a5a3071705e22786639509f6379d7cb19f4e5ca3ccb1647dc5e8935") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n7.e8c0eb897464ccf45d5caa70ec8c7005d0f7b1b2.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9149f27f7bc3361121beacf62fd750cdb23c915edb48c82c9caf79c00823ae34") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n7.98d31f084a84db1ace8d046ddc8faa522b144349.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=f8055e4fc24251f1456c1b859bbd2cbfeca7feff5cbc27a5679d554a0b33335e") format("woff");
}

  @font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i7.09a1f54d3edfd3142937b195898dad5acea092ce.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=db3386a4a93f243422c1fc17283b9084da565edc2210eee131327b6be5194d60") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i7.7088df7c28e0b13b5406d1a8a5978bdb24760ab1.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=1a915bcd9b541f50943796ddc37e2ee51d61120a5625e65d553d211ced0cb187") format("woff");
}


  
@font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n7.e8c0eb897464ccf45d5caa70ec8c7005d0f7b1b2.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9149f27f7bc3361121beacf62fd750cdb23c915edb48c82c9caf79c00823ae34") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n7.98d31f084a84db1ace8d046ddc8faa522b144349.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=f8055e4fc24251f1456c1b859bbd2cbfeca7feff5cbc27a5679d554a0b33335e") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i7.09a1f54d3edfd3142937b195898dad5acea092ce.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=db3386a4a93f243422c1fc17283b9084da565edc2210eee131327b6be5194d60") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i7.7088df7c28e0b13b5406d1a8a5978bdb24760ab1.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=1a915bcd9b541f50943796ddc37e2ee51d61120a5625e65d553d211ced0cb187") format("woff");
}


  
@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n4.187fb228d0a8055289c8663e90433b4a50e86848.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4b9ef744329ea7300910487a0e3d1a4bb57e6807a19fcf11e8bab50d53217083") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n4.24ba61101c1ba185880bec9c74d8e7cdb826ad49.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=30f595ef8c7c75b687e3edd1aefd1c74a0d7451d49847bbf7f7c64a04d9ddfff") format("woff");
}

  @font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i4.ce8a9af821b5675e15a4785a2318ed578e68e9c9.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4608a8c3a494d24429e05f1ad3e231bcaae87cc7494839fb5430b75f64d0d444") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i4.8addc6e90a0d45abd627fd1c26cd4dbae936fbbb.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9e31a5de2a5a3071705e22786639509f6379d7cb19f4e5ca3ccb1647dc5e8935") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n4.187fb228d0a8055289c8663e90433b4a50e86848.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4b9ef744329ea7300910487a0e3d1a4bb57e6807a19fcf11e8bab50d53217083") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n4.24ba61101c1ba185880bec9c74d8e7cdb826ad49.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=30f595ef8c7c75b687e3edd1aefd1c74a0d7451d49847bbf7f7c64a04d9ddfff") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i4.ce8a9af821b5675e15a4785a2318ed578e68e9c9.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=4608a8c3a494d24429e05f1ad3e231bcaae87cc7494839fb5430b75f64d0d444") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i4.8addc6e90a0d45abd627fd1c26cd4dbae936fbbb.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9e31a5de2a5a3071705e22786639509f6379d7cb19f4e5ca3ccb1647dc5e8935") format("woff");
}

@font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_n7.e8c0eb897464ccf45d5caa70ec8c7005d0f7b1b2.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=9149f27f7bc3361121beacf62fd750cdb23c915edb48c82c9caf79c00823ae34") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_n7.98d31f084a84db1ace8d046ddc8faa522b144349.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=f8055e4fc24251f1456c1b859bbd2cbfeca7feff5cbc27a5679d554a0b33335e") format("woff");
}

  @font-face {
  font-family: Karla;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/karla/karla_i7.09a1f54d3edfd3142937b195898dad5acea092ce.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=db3386a4a93f243422c1fc17283b9084da565edc2210eee131327b6be5194d60") format("woff2"),
       url("https://fonts.shopifycdn.com/karla/karla_i7.7088df7c28e0b13b5406d1a8a5978bdb24760ab1.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=1a915bcd9b541f50943796ddc37e2ee51d61120a5625e65d553d211ced0cb187") format("woff");
}


  
@font-face {
  font-family: Slate;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/slate/slate_n4.faa35720632c2e0584b79394c950a1330379d438.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=fd3413770e0ab89683075b576f29201deb606656928e1b3346a91d69cb1fcc82") format("woff2"),
       url("https://fonts.shopifycdn.com/slate/slate_n4.39937dd01f008e721ee0d671d98c76d5486c4fe2.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=51dbb81eb7fa3679477ad5de8ef29282a1d10a284eceee075a45d07a17781565") format("woff");
}

@font-face {
  font-family: Slate;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/slate/slate_i4.92c270cab6020b468d822f033bafa8e4f679dec5.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=11a2d8a683844b97c1e57df9e29d9c2291ac7e550cfd8cb582c03ead4bc83765") format("woff2"),
       url("https://fonts.shopifycdn.com/slate/slate_i4.ec2f912a0970fed2874fda8d8d3af7d91df6df66.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=5c1a88f1d4209602feefcc19e7b1ff9354114abd1a16fb476850a51107f97dc9") format("woff");
}

@font-face {
  font-family: Slate;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/slate/slate_n7.44dd0ad8af665e8eb61c329806c8f1fb23216de5.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=ffd1982522cc6537b9eee78924793afde793ab37b61c500f660789a877743e46") format("woff2"),
       url("https://fonts.shopifycdn.com/slate/slate_n7.cbed0054b50c5df7cfdad012cfa08f2e74972e87.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=0b29a09993df9a4ac6f0004e4fac4034a98e8cde6ef2183cfdb7560fb36eb25c") format("woff");
}

  @font-face {
  font-family: Slate;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/slate/slate_i7.aa42ffb250ded5368f621c28745bf015f5786d98.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=cc3fcf6c42250a8e8c3ed41773d36f5396185f169fba779c5c3cf005396e90d2") format("woff2"),
       url("https://fonts.shopifycdn.com/slate/slate_i7.6c511ee07d0f6186c306c79850e429eb496386d4.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=8b29f53bde68cd26c93a1747c9fe529626580a3d2e3eed6bac177b80033b2e16") format("woff");
}

@font-face {
  font-family: Slate;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/slate/slate_n2.6938b26d0842012527f8ebdeae2c8a6d8c4c7f33.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=84b8d0b3f909d9b978ebb75538e5437dbf5f06777d3eec313f100d64091d53ad") format("woff2"),
       url("https://fonts.shopifycdn.com/slate/slate_n2.88f5964c512eb93a41751495ba3f975d44414106.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=61b71377a4ebace30246029672bedcd1eed19e1cba9a4aa0039d8cbeba7bb7eb") format("woff");
}

  @font-face {
  font-family: Slate;
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/slate/slate_i2.43e931ade9797bb754cacad6f0253e1196be688c.woff2?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=7590260e288919e9d9436c590f57358b26dabbaaec8975043f48c4fc073df930") format("woff2"),
       url("https://fonts.shopifycdn.com/slate/slate_i2.ce3aed1818e3ff367ffcf2c5835e95004bdfc4dc.woff?h1=c3RvbGVuc3RvcmVzLmNvbQ&hmac=04e11d983f449849d117750eac14b2021068a94c3d3c25fe217ef92a3d965056") format("woff");
}

@font-face {
  font-family: "chiko-icons";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url(//cdn.shopify.com/s/files/1/0875/6648/t/53/assets/chiko-icons.woff?v=1266665015690105933) format("woff");
}
@font-face {
  font-family: "pxu-social-icons";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url(//cdn.shopify.com/s/files/1/0875/6648/t/53/assets/pxu-social-icons.woff?v=7514917377495910844) format("woff");
}
/* Settings */
/* User Settings
------------------------- */
/* General */
/* Section specific
------------------------- */
/* Header */
/* Slideshow */
/* General Settings
------------------------- */















/* Utilities */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* General */
.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Small caps */
/* Typography */.template-gift_card .btn {
  font-family: Slate,sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #656565;
}/* Masonry features */@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(200px) rotate(10deg);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes container-slide {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.template-gift_card {
  font-family: Karla,sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.template-gift_card a {
  text-decoration: none;
}
.template-gift_card .btn {
  background-color: #58686f;
  color: #fff;
  padding: 1.5em;
  font-size: 0.875em;
  line-height: 1;
  border-radius: 4px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.template-gift_card .btn:hover {
  background-color: #414d53;
}
.template-gift_card .wrap {
  width: 95%;
  max-width: 540px;
  margin: 0 auto;
}
.template-gift_card .wrap:after {
  content: "";
  display: table;
  clear: both;
}
.template-gift_card header {
  text-align: center;
  padding: 3em 0;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .shop-title {
  font-family: Karla,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  color: #bfbfbf;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.template-gift_card .shop-title:hover {
  color: #999999;
}
.template-gift_card .shop-title img {
  max-height: 100%;
  margin: 0 auto;
}
.template-gift_card main {
  animation: slideup 0.8s ease-in-out;
  padding-bottom: 3em;
}
.template-gift_card .gift-card-outer-container {
  background-color: #34aadc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  padding: 1em;
  animation: container-slide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.template-gift_card .gift-card-inner-container:after {
  content: "";
  display: table;
  clear: both;
}
.template-gift_card .gift-card-header {
  border-bottom: 1px solid #f2f2f2;
  padding: 0.75em;
  display: block;
  overflow: hidden;
  position: relative;
}
.template-gift_card .gift-card-header h2 {
  float: left;
  margin: 0.12em 0;
}
.template-gift_card .gift-card-header .tag {
  float: right;
}
.template-gift_card .tag {
  background-color: #bfbfbf;
  padding: 0.5em;
  padding-bottom: 0.35em;
  border-radius: 4px;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  line-height: 1;
}
.template-gift_card .tag.light {
  background: transparent;
  color: #bfbfbf;
  border: 1px solid #d9d9d9;
}
.template-gift_card .gift-card-holder {
  margin: 0.75em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  position: relative;
}
.template-gift_card .gift-card-holder .corner {
  display: block;
  width: 47px;
  height: 47px;
  position: absolute;
  z-index: 2;
}
.template-gift_card .gift-card-holder .corner.top-left {
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-top-left-1585103bdd46bf1297b88f31bdfce999.png") 0 0 no-repeat;
  top: -1px;
  left: -1px;
}
.template-gift_card .gift-card-holder .corner.bottom-right {
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-bottom-right-ba899b18631cb91859e186c2cc1c6970.png") 0 0 no-repeat;
  bottom: -1px;
  right: -1px;
}
.template-gift_card .gift-card {
  position: relative;
  box-sizing: border-box;
  position: relative;
}
.template-gift_card .gift-card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}
.template-gift_card .gift-card img {
  border-radius: 10px;
  max-width: 100%;
}
.template-gift_card .gift-card-code-outer {
  position: absolute;
  bottom: 1em;
  text-align: center;
  width: 100%;
}
.template-gift_card .gift-card-code-outer.medium {
  font-size: 0.875em;
}
.template-gift_card .gift-card-code-outer.small {
  font-size: 0.75em;
}
.template-gift_card .gift-card-code-inner {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 4px;
  max-width: 450px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.template-gift_card .gift-card-code-inner strong {
  font-size: 1.875em;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px dashed #e5e5e5;
  padding: 0.4em 0.5em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  color: #777;
  line-height: 1;
}
.template-gift_card .small .gift-card-code-inner {
  overflow: auto;
}
.template-gift_card .disabled .gift-card-code-inner strong {
  color: #999;
  text-decoration: line-through;
}
.template-gift_card .gift-card-code-inner span + span {
  margin-left: 0.25em;
}
.template-gift_card .gift-card-amount {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 2.75em;
  padding: 0.4em 0.5em;
}
.template-gift_card .gift-card-amount.medium {
  font-size: 2.25em;
}
.template-gift_card .gift-card-amount strong {
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  display: block;
}
.template-gift_card .tooltip {
  position: relative;
}
.template-gift_card .tooltip:hover .tooltip-container {
  display: block;
}
.template-gift_card .tooltip-container {
  display: block;
  position: absolute;
  top: -100%;
  right: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  top: -50%;
  margin-top: 0.25em;
  animation: popup 0.5s ease-in-out both 0.7s;
}
.template-gift_card .tooltip-triangle {
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 5px solid #333;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: -5px;
  margin-bottom: -5px;
}
.template-gift_card .tooltip-label {
  display: block;
  position: relative;
  right: -50%;
  border: none;
  border-radius: 4px;
  background: #333;
  background: rgba(51, 51, 51, 0.9);
  color: #fff;
  min-height: 1rem;
  font-size: 0.4em;
  text-decoration: none;
  line-height: 16px;
  text-shadow: none;
  padding: 0.5em 0.75em;
  margin-left: 0.25em;
}
.template-gift_card .gift-card-instructions {
  font-size: 0.875em;
  text-align: center;
  color: #999;
  margin: 0 0.75em 1.5em;
}
.template-gift_card .gift-card-qr-code {
  display: block;
}
.template-gift_card .gift-card-qr-code img {
  padding: 1.25em;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  margin: 0 auto 1.25em;
}
.template-gift_card .gift-card-actions {
  border-top: 1px solid #f2f2f2;
  padding: 1.25em 0.75em;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
}
.template-gift_card .action-link {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bfbfbf;
  margin-top: 1.75em;
  position: absolute;
  left: 1.25em;
  top: 1.25em;
}
.template-gift_card .action-link:hover {
  color: #999;
}
.template-gift_card .action-link:hover .ico-16 {
  opacity: 0.4;
}
.template-gift_card .ico-16 {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 17px;
  height: 17px;
  vertical-align: bottom;
  margin-bottom: -1px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}
.template-gift_card .ico-16.print {
  background-image: url("//cdn.shopify.com/s/assets/gift-card/icon-print-164daa1ae32d10d1f9b83ac21b6f2c70.png");
}
.template-gift_card footer[role=contentinfo] {
  padding-bottom: 3em;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .gift-card-apple-wallet-badge {
  display: inline-block;
}
.template-gift_card .gift-card-apple-wallet-badge-image {
  display: block;
}
@media screen and (max-width: 580px) {
  .template-gift_card body {
    font-size: 0.8571428571rem;
  }
  .template-gift_card h2 {
    font-size: 1.5em;
  }
  .template-gift_card .gift-card-outer-container {
    padding: 0.5em;
  }
  .template-gift_card .tooltip-container {
    top: -65%;
  }
  .template-gift_card .gift-card-actions .btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.125em;
  }
  .template-gift_card .action-link {
    position: relative !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    font-size: 1.125em;
    display: none;
  }
  .template-gift_card .action-link + .action-link {
    margin-left: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .template-gift_card h2 {
    font-size: 1.25em;
  }
  .template-gift_card .gift-card {
    font-size: 0.7142857143rem;
  }
  .template-gift_card .gift-card-holder .corner {
    display: none;
  }
  .template-gift_card .gift-card-holder .corner.bottom-right {
    background-position: bottom right !important;
  }
  .template-gift_card .gift-card-amount strong {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .template-gift_card .tooltip-container {
    top: -75%;
  }
}
@media screen and (max-height: 800px) {
  .template-gift_card .shop-title {
    max-height: 100px;
  }
}
@media screen and (max-height: 750px) {
  .template-gift_card .shop-title {
    max-height: 80px;
  }
  .template-gift_card header {
    padding: 2em 0;
  }
  .template-gift_card footer[role=contentinfo],
.template-gift_card main {
    padding-bottom: 2em;
  }
}
@media print {
  @page {
    .template-gift_card {
      margin: 0.5cm;
    }
  }
  .template-gift_card p,
.template-gift_card h2,
.template-gift_card h3 {
    orphans: 3;
    widows: 3;
  }
  .template-gift_card h2,
.template-gift_card h3 {
    page-break-after: avoid;
  }
  .template-gift_card body {
    background-color: #fff;
  }
  .template-gift_card .gift-card-actions,
.template-gift_card .gift-card-holder .corner,
.template-gift_card .tooltip-container,
.template-gift_card .gift-card:before {
    display: none;
  }
  .template-gift_card .gift-card-code-inner strong {
    color: #555;
  }
  .template-gift_card .gift-card-amount .tooltip {
    color: #fff !important;
  }
  .template-gift_card .shop-title {
    color: #58686f;
  }
  .template-gift_card .gift-card-outer-container,
.template-gift_card .gift-card-inner-container,
.template-gift_card .gift-card-code-inner,
.template-gift_card .gift-card:before {
    box-shadow: none;
  }
}